<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trend Analysis</title>
    <link type="text/css" rel="stylesheet" href="css/main.css">
</head>
<body>
<h1>Trend Analysis</h1>
<p>Revenue: <span th:text="${businessData.revenue}"></span></p>
<p>Expenses: <span th:text="${businessData.expenses}"></span></p>
<!-- Display other relevant metrics -->

<h2>Product Information</h2>
<table border="1">
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Amount</th>
        <th>Cases Sold</th>
        <th>Cost Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${businessData.productInfo}" >
        <td th:text="${product.keySet()}"></td>
        <td th:text="${product.values()}"></td>
        <td th:text="${product.values()}"></td>
        <td th:text="${product.values()}"></td>
    </tr>
    </tbody>
</table>

<!-- Add JavaScript for additional interactivity -->
<script src="js/script.js"></script>
</body>
</html>
